html,body{
	
	margin:0px;
	
}
.navbar{
	margin-bottom: 0px;
}


.contenedor-total{
	
	padding: 0px;
}

body {

	overflow-y: auto;
	background-color: #171b1f;
	
}

.encabezado {
	height: 20%;
	min-height: 200px;
	background-color: #000000;
	background-image: url("../images/encabezado-post-it.jpg");
	background-position: center;
 
}


.panel-total{	
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 2%;
	
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 4px solid #f5e7f5;
	background-color: #470d12;
	background-size: cover;
}

.form-control{
	width: 100%;
	height: 10%;
	margin-top: 1%;
}

.btn{
	display: inline-block;
	background: #0F6A85;
	padding: 0.3125em 0.625em;
	border: none;
	color: #F7F9FA;
	border-radius: 3px;
	font-size: 90%; 
	margin-top: 5px;
}

.task-container{
	height: 90%;
	margin-top: 3%;
	background-size: cover;
	-webkit-background-size: cover;
}
	
.tasks-header{
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;

	
}
.titulo, .titulo-prioridad{
	margin-bottom: 2%;
	font-weight:normal;
	font-style:italic;
	font-size: 30px;
	color:#470d12;
	border-radius: 10px 10px 10px 10px;
	border: 3px solid black;
	
	text-align:left;
	font-family:trebuchet MS, sans-serif;line-height:1;
	padding:7px;
	background-color: white;
	text-align: center;
}

.titulo-prioridad{
	font-size: 15px;
	font-style:normal;
}
.btn-editar-task > a{

	color:white;	
	text-decoration: none;

}
.task{
	width: 90%;
}

.task, .usuario{
	/*width: 90%;*/
	/*margin-right: 8%;*/
	display: inline-block;
	text-align: center;
	margin-bottom: 2%;
	/*height: 200px;*/
	

	border-radius: 10px 10px 10px 10px;
	border: 3px solid black;
	background-color: white;
	padding: 10px;
	overflow: auto;
}

.usuario{
	/*width: 30%;*/
	margin-left: 6%;
}

.task-show{
	padding: 2%;
	background-image: url("../images/blank_post-it_transparente3.jpg");
	background-position: center;
	background-size: auto auto;
	background-repeat: no-repeat; 
	text-align: center;
	
	float: inherit;
}

.task-tittle, .user-title{
	color: black;
	font-size: 25px;
	margin-bottom: 10px;
	
}

.user-title{
	text-align: left;
}

.task-content{
	color:#470d12;
	font-size:18px;
}

a.task-content:hover{
	color:#6D1F45;
}

.btn-borrar-task, .btn-editar-task{
	-webkit-border-radius: 15;
	-moz-border-radius: 15;
	border-radius: 8px;
	font-family: Arial;
	
	font-size: 12px;
	color: #ffffff;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}

.btn-borrar-task{
	background: #971515;
}
.btn-editar-task{
	background: #281C59;
	
}


.btn-borrar-task:hover, .btn-editar-task:hover {
  background: #6e1c3d;
  text-decoration: none;
}

.new-task{
	background: #F7F9FA;
  	border-radius: 5px;
  	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  	padding: 15px;
}

textarea { 
   resize:vertical;/*will prevent resizing horizontally*/ 
	height: auto;
}


.form-newtask {
	background: #fff;
	border: 2px solid #ddd;
	box-sizing: border-box;
	font-size: 100%;
	padding: 10px;
	position: relative;
	transition: border-color 0.2s ease-in-out;
	width: 100%; 
}
 .form-newtask:focus {
    border-color: #4e4e5b;
    outline: none; 
}

.form-fieldset {
	border: 0;
	margin-bottom: 1.25em;
	padding: 0;
	line-height: 2.9;
	min-width: 100%; 
	margin-bottom: 0.625em; 
	margin: 0 2px;
}

input {
    line-height: normal;
}










