<div class="row">
  <div class="col-sm-2">
    <span style="font-size: 12pt; color: white;">Filtrar por búsqueda</span>
    <input ng-model="search.$" class="form-control"/>
  </div>
  
  <div class="btn-add-task col-sm-offset-7 col-sm-2">
      <a class="btn" href='#/tareas/nueva'>Crear nueva Tarea</a>
  </div>
</div>
  
<div class="task-container">
  <div class="tasks-header row">
    <div class="titulo col-sm-offset-5 col-sm-2 col-xs-offset-1 col-xs-10">Tareas</div>
    
  </div>

  <div class='row'>
    
    <div class="tasks col-sm-6 ">
      <div class="titulo-prioridad col-sm-6 col-xs-11">Prioridad Alta</div>
      <div class="task"
        ng-repeat="tarea in TareasIndex.tareas | filter: 'alta' | filter: search" >
          <na-elemento-tarea title="tarea.title"
            description="tarea.description"
            nombre="tarea.nombre"
            fecha="tarea.fecha" id="tarea._id">
          </na-elemento-tarea>
        </div>
    </div>
    
    <div class="tasks col-sm-6 ">
      <div class="titulo-prioridad col-sm-6 ">Prioridad Baja</div>
      <div class="task"
        ng-repeat="tarea in TareasIndex.tareas | filter: 'baja' | filter: search">
          <na-elemento-tarea title="tarea.title"
            description="tarea.description"
            nombre="tarea.nombre"
            fecha="tarea.fecha" id="tarea._id">
          </na-elemento-tarea>
        </div>
    </div>
  </div>

</div>



